.App {
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap');

body, html {
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: larger;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.bundesliga-logo {
    width: 30%;
    height: 30%;
    margin-top: 90px;
}

/*NavBar*/
.navbar {
    padding: 12px;
    background: white;
    box-shadow: 1px 0px 15px #404c48;
}

.navLink {
    padding: 20px;
    color: #404c48;
}

.navLink:hover {
    color: #404c4881;
}

/*Loader*/

.loader {
    border: 16px solid #f4c3c8; /* Light grey */
    border-top: 16px solid #d4040c; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    top: 260px;
    position: relative;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Results*/

.results-container {
  margin-top: 20px;
}

h3, p {
    display: inline;
}

.fixtures {
    width: 60%;
    height: 100px;
    margin: 2px;
    padding: auto;
    display: inline-block;
    border: 1px #404c48 solid;
    vertical-align: middle;
    overflow: hidden;
}

.fixtures:hover {
    box-shadow: 1px 1px 5px #404c48;
    height: fit-content;;
}

.team-icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 64px;
    height: 64px;
}

.time-and-date {
    text-align: center;   
    margin: 0px;
    padding: 0px;
}   

.closed {
    display: none;
}

li {
    list-style: none;
}

.results-page {
  position: absolute;
}

/*League Table*/

table, th, td {
    margin: auto;
}

table {
  border: 2px solid black;
}

table tr:nth-child(odd) td{
    background-color: rgba(211, 211, 211, 0.185);
}
.table-collapsed {
    display: none;
}

.filter-table-container {
  margin-top: 20px;
}

.paginate {
  cursor: default;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pageClassName {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

.previous {
  grid-row-start: 1;
  grid-column-start: 2; 
  font-weight: bold;
}

.next {
  grid-row-start: 1;
  grid-column-start: 4; 
  font-weight: bold;
}

.activeClassName {
  font-weight: bold;
}